<p><b>Total: </b> <%= sale.total_price %></p>
<%= form_for @client, url: {action: ""} do |client| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "Errors") %>:</h2>

      <ul>
      <% @client.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= client.label :name %><br />
    <%= client.text_field :name %>
  </div>
  <div class="field">
    <%= client.label :email %><br />
    <%= client.text_field :email %>
  </div>
  <div class="field">
    <%= client.label :cpf %><br />
    <%= client.text_field :cpf %>
  </div>
  <div class="field">
    <%= client.label :address %><br />
    <%= client.text_area :address %>
  </div>
  <div class="actions">
    <%= client.submit %>
  </div>
<% end %>
